:root {
  --hunter-green: #ffffff;
  --castle-black: #ffffff;
  --green-120: #adc4e6;
  --green-95: #ebebeb;
  --green-80: #00407a;
  --green-60: #474747;
  --green-40: #303030;
  --green-20: #0058b3;
  --green-5: #1259d9;

  --trophy-gold: #1568e5;
  --gold-120: #0031f1;
  --gold-80: #4789ec;
  --gold-60: #6ca7ff;
  --gold-40: #A0C6FF;
  --gold-20: #b3d1fe;
  --gold-5: #ffffff;
  --white: #505050;
  --disabled: #cccccc;

  --error: #FF6666;
  --error-80: #B04443;

  --success: #20c580;
  --success-20: #0a5740;

  --attention: #f2b824;
  --attention-20: #495325;

  --info: #3cc5ee;
  --info-20: #125761;

  --link: #14b9ea;

  --trading-outgoing: #ef6194;
  --trading-incoming: #11bea9;

  --shadow: 0px 16px 16px rgba(0, 33, 30, 0.14),
    0px 6px 8px rgba(0, 33, 30, 0.24), 0px 2px 4px rgba(0, 33, 30, 0.34);
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

body {
  margin: 0;
  font-family: "Segment", -apple-system, BlinkMacSystemFont, "Helvetica Neue",
    sans-serif;
  position: relative;
  color: var(--white);
  font-size: 16px;
  background-color: var(--hunter-green);
}

html,
body,
#tally-root {
  height: 100%;
}

body.popup {
  width: 384px;
  min-height: 594px;
  scrollbar-width: none;
  overflow: hidden; /* all scrolling is done internally */
}

a {
  text-decoration: none;
}

button {
  all: unset;
  cursor: pointer;
}

input,
textarea {
  all: unset;
  cursor: text;
}

ul,
li {
  all: unset;
  list-style-type: none;
}

form {
  all: inherit;
  padding: 0;
}

* {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -font-smoothing: antialiased;
}

.standard_width {
  width: 352px;
}

.standard_width_padded {
  width: 352px;
  padding: 0px 8px;
  box-sizing: border-box;
}

.center_horizontal {
  margin: 0 auto;
}

.center_text {
  text-align: center;
  color: var(--hunter-green);
}

.serif_header {
  color: #fefefc;
  font-family: "TT Travels";
  font-size: 38px;
  font-weight: 400;
  padding: unset;
  margin: unset;
}

label {
  display: flex;
  flex-direction: column;
  line-height: 27px;
  margin-top: -5.5px;
}

.label {
  color: var(--green-40);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.42px;
  display: flex;
  justify-content: space-between;
}

.hide {
  opacity: 0;
  pointer-events: none;
}

.no_click {
  pointer-events: none;
}

.divider {
  width: 80%;
  height: 2px;
  opacity: 60%;
  background-color: var(--green-120);
}

.simple_text {
  color: var(--green-40);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ellipsis_multiline {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}
@supports (-webkit-line-clamp: 2) {
  .ellipsis_multiline {
    white-space: initial;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}

.fadeIn {
  animation: fadeIn ease-in var(--fade-in-duration, 250ms);
  color: var(--hunter-green);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade_out {
  animation: fade-out ease-out var(--fade-out-duration, 250ms);
  opacity: 0;
  color: var(--hunter-green);
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
